<div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 my-2">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><a href="{{ "/docs/rest-helix" | relURL }}">API</a></h5>
          <div class="card-text">Our implementation of the official Helix API</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 my-2">
      <div class="card card-b">
        <div class="card-body text-center">
          <h5 class="card-title"><a href="{{ "/docs/chat" | relURL }}">Chat</a></h5>
          <div class="card-text">Read and write messages to the Twitch Messaging Interface</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 my-2">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><a href="{{ "/docs/pubsub" | relURL }}">PubSub</a></h5>
          <div class="card-text">Real-time events over websocket based on the publish–subscribe paradigm</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-lg-6 my-2">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><a href="{{ "/docs/rest-helix" | relURL }}">Extensions</a>
          </h5>
          <div class="card-text">API for building <a href="https://dev.twitch.tv/docs/extensions">extension</a> backend services</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 my-2">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><a href="{{ "/docs/graphql" | relURL }}">GraphQL</a></h5>
          <div class="card-text">Unofficial <a href="https://graphql.org/learn/">schema-driven</a> tool to fill gaps in Helix</div>
        </div>
      </div>
    </div>
  </div>
</div>
