<div>
  <div class="row">
    <div class="col-sm-12 col-lg-4 my-2">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><a href="{{ "/wiki/core-features/api" | relURL }}">API</a></h5>
          <div class="card-text">The core components of the library</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 my-2">
      <div class="card card-b">
        <div class="card-body text-center">
          <h5 class="card-title"><a href="{{ "/wiki/core-features/chat" | relURL }}">Chat</a></h5>
          <div class="card-text">Combined API's for Message Interface Environment</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 my-2">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><a href="{{ "/wiki/core-features/pubsub" | relURL }}">PubSub</a></h5>
          <div class="card-text">Read-Only interactions for specific channels</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-6 my-2">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><a href="{{ "/wiki/advanced-features/extensions" | relURL }}">Extensions</a>
          </h5>
          <div class="card-text">API Tools for building <a href="https://dev.twitch.tv/docs/extensions">extensions</a>.</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 my-2">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><a href="{{ "/wiki/advanced-features/graphql" | relURL }}">GraphQL</a></h5>
          <div class="card-text">Powerful <a href="https://graphql.org/learn/queries/">query language</a> tool for your API</div>
        </div>
      </div>
    </div>
  </div>
</div>