<div class="text-center header">
  <div class="fluid mx-5">
    {{- $wordmark := resources.Get "images/wordmark.svg" -}}
    {{- $wordmark.Content | safeHTML -}}
  </div>
  <div>
    <p class="h3 font-weight-bold">JVM-based Sync/Async API wrapper for <a class="text-twitch-purple"
        href="https://twitch.tv/">Twitch</a>, written in Java</p>
    <div class="row m-4">
      <div class="col-12 col-lg-6 my-2 my-lg-0">
        <a class="btn btn-lg btn-block btn-outline-twitch-purple" role="button" href="{{ "/docs/getting-started" | relURL }}">Getting Started</a>
      </div>
      <div class="col-12 col-lg-6 my-2 my-lg-0">
        <a class="btn btn-lg btn-block btn-black-ops" role="button" href="https://bintray.com/twitch4j/maven/twitch4j/_latestVersion">Download&nbsp;<span class="release badge badge-light"></span></a>
      </div>
    </div>
  </div>
</div>