.highlight {
  .code-title {
    margin: 0.25rem 1rem;
    padding: 0;
    font-weight: 700;
    font-style: italic;
    text-align: right;
    font-size: 12px;
    color: #444;
    body.dark-mode & {
      color: #aaa;
    }
  }
  pre {
    margin-bottom: 0;
    padding: 1rem;
  }
}

.code-tabs,
.build-tabs {
  border: 0;
  overflow: hidden;
  margin: 20px 0px;

  .tab-content {
    padding: 10px 0;
    margin-bottom: 0;

    .tab-pane {
      margin-bottom: 0;
    }
  }

  .nav-tabs {
    margin-bottom: 0;
    border-bottom: 1px solid theme-color("dark");

    body.dark-mode & {
      border-bottom: 1px solid theme-color("ice");
    }

    .nav-item {
      padding-left: 0;

      .nav-link {
        font-size: 12px;
        color: theme-color("dark");
        text-decoration: none;
        font-weight: 600;
        border: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
          background-color: transparent;

          body.dark-mode & {
            color: lighten(theme-color("twitch-purple"), 5%);
          }
        }

        body.dark-mode & {
          color: theme-color("ice");
        }

        &:hover {
          color: lighten(theme-color("twitch-purple"), 5%);
        }

        .nav-icon {
          float: left;
          clear: left;
          max-width: 12px;
          max-height: 12px;
          margin-right: 4px;
        }

        float: right;
      }

      &::before {
        display: none;
      }

      &.active {
        border-bottom: 2px solid lighten(theme-color("twitch-purple"), 5%);

        .nav-link {
          color: theme-color("twitch-purple");

          body.dark-mode & {
            color: lighten(theme-color("twitch-purple"), 5%);
          }
        }
      }
    }
  }
}