.docs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  .breadcrumb {
    background-color: transparent;
  }
  
  @for $i from 1 through 6 {
    h#{$i} {
      margin-top: 1.5rem;
      margin-bottom: .5rem;
      & + div, & + blockquote, & + a, & + p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .blockquote {
    margin-left: 1.5rem;
    border-left: 4px solid $gray-400;
    padding-left: .75rem;
    font-size: 12pt;

    .blockquote-footer {
      font-size: 8pt;
    }
  }

  .edit-page-btn {
    @extend .text-center;
    margin: 40px 0 0;
  }

  .btn.btn-edit-page {
    @extend .btn-twitch-purple;
    font-size: .875rem;

    body.dark-mode & {
      @extend .btn-outline-ice;
      background-color: transparent;
    }
  }
}