.docs {
  @extend .container-fluid;
  @extend .mt-4;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  .nav-docs, .toc {
    @extend .col-12;
    @extend .col-lg-6;
    @extend .col-xl-2;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      ul li > :first-child {
        padding-left: 12px + 20px;
      }

      li > :first-child {
        @extend .btn;
        @extend .btn-sm;
        @extend .btn-block;
        text-align: left;
        font-size: 14px;
        color: $twitch-purple;
        margin: 2px 0;

        body.dark-mode & {
          color: $ice;
        }
      }

      a {
        color: $twitch-purple;

        body.dark-mode & {
          color: $ice;
        }
      }
      
      li > :first-child:hover, li > :first-child.active, li.active-parent > :first-child {
        color: $ice;
        background-color: darken($twitch-purple, 10%);

        &:not(.active) {
          background-color: $twitch-purple;
        }
        
        a {
          color: $ice;
        }
      }
    }
  }

  .toc {
    float: right;
    @include media-breakpoint-up(xl) {
      position: absolute;
      right: 0;
    }
  }

  .nav-docs {
    ul {
      ul {
        display: none;
      }
      .active-parent ul {
        display: block;
      }
    }
  }

  .docs-content {
    @extend .col-12;
    @extend .col-xl-8;
    font-size: 14px;

    .breadcrumb {
      background-color: transparent;
    }
    
    @for $i from 1 through 6 {
      h#{$i} {
        margin-top: 1.5rem;
        margin-bottom: .5rem;
        & + div, & + blockquote, & + a, & + p {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  
    .blockquote {
      margin-left: 1.5rem;
      border-left: 4px solid $gray-400;
      padding-left: .75rem;
      font-size: 12pt;
  
      .blockquote-footer {
        font-size: 8pt;
      }
    }

    table {
      @extend .table;
      @extend .table-bordered;
      @extend .table-sm;

      tbody {
        @extend .table-striped;
      }

      body.dark-mode & {
        @extend .table-dark;
      }
    }
  
    .edit-page-btn {
      @extend .text-center;
      margin: 40px 0 0;
  
      .btn.btn-edit-page {
        @extend .btn-twitch-purple;
        font-size: .875rem;
    
        body.dark-mode & {
          @extend .btn-outline-ice;
          background-color: transparent;
        }
      }
    }
  }

  .side-menu {
    @extend .col-12;
    @extend .col-md-2;
    @extend .float-md-right;
    @extend .float-none;
  
    .btn-link {
      body.dark-mode & {
        color: $ice;
        &:hover {
          color: darken($ice, 10%);
        }
      }
  
      &:hover {
        text-decoration: none;
      }
    }
  
    // .doc-nav {
    //   padding: 24px 0 0;
    //   .fas {
    //     margin-right: 8px;
  
    //     &:hover {
    //       cursor: pointer;
    //     }
    //   }
  
    //   li {
    //     padding: 0;
    //     font-size: 14px;
  
    //     &.active-parent {
    //       ul {
    //         display: block;
    //       }
    //     }
  
    //     .active {
    //       color: $ice !important;
    //       background-color: $twitch-purple !important;
  
    //       a, a:hover {
    //         color: $ice !important;
    //       }
    //     }
  
    //     ul {
    //       display: none;
  
    //       li {
    //         a {
    //           padding-left: 24px;
    //           margin: 0 10px;
    //           font-size: 12px;
    //         }
    //       }
    //     }
    //   }
    // }
  
    #TableOfContents, .doc-nav {
      margin: 10px 0;
  
      ul {
        @extend .nav;
        @extend .nav-pills;
        @extend .flex-column;
  
        li {
          @extend .nav-item;
  
          &.active-parent > *:first-child {
            @extend .nav-link;
            @extend .active;
          }
  
          & > *:first-child {
            @extend .nav-link;
          }
        }
      }
    }
  
    #TableOfContents {
  
    }
  }
}