.footer {
  background-color: theme-color("twitch-purple");
  min-height: 3rem;
  padding: 1rem 0;
  position: relative;
  clear: both;
}

body.dark-mode .blockquote-footer {
  color: darken(theme-color("ice"), 10%);
}