body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  scrollbar-width: thin;
  scrollbar-color: $twitch-purple $gray-500;

  .wordmark {
    fill: $black-ops;
  }

  &::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: $gray-500;
  }
  
  &::-webkit-scrollbar, *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: $gray-500;
  }
  
  &::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $twitch-purple;
  }

  &.dark-mode {
    color: $ice;
    background-color: $dark;
    scrollbar-color: $black-ops $gray-500;

    &::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
      background-color: $gray-900;
    }

    .wordmark {
      fill: #FFFFFF;
    }
  
    a {
      color: darken($ice, 10%);
  
      &:hover {
        color: darken($ice, 5%);
      }
    }
  }
  
* {
  box-sizing: border-box;
}

  a:hover {
    text-decoration: none;
  }
}

.btn {
  font-family: "Inter";
  font-size: 1.25rem;
  font-weight: normal;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: "Inter";
    font-weight: bold;
  }
}
