header {
  nav.navbar {
    display: flex;
    min-height: 64px;
    max-height: 100%;
    padding-top: 1rem;
  
    .navbar-toggler {
      text-align: right;
    }
  
    .fab,
    .fas {
      font-size: 14px;
    }
  
    a.nav-link {
  
      .fab,
      .fas {
        font-size: 18px;
        display: none;
      }
  
      @include media-breakpoint-up(md) {
        .fab,
        .fas {
          display: inline;
        }
      }
    }
  
    a.navbar-brand img {
      width: 56px;
      height: 56px;
  
      body.dark-mode & {
        background: $ice;
        border-radius: 100%;
      }
    }
  
    .release {
      @extend .badge;
      transition: none;
    }
  
    &.navbar-light {
  
      .release {
        @extend .badge-twitch-purple;
      }

      a:hover .release {
        @extend .badge-black-ops;
      }
  
      #toggler {
        color: $ice;
        background-color: $twitch-purple;
      }
    }
  
    &.navbar-dark {
      .release {
        @extend .badge-ice;
        color: $black-ops;
        background-color: darken($ice, 2%);
      }

      .nav-link {
        color: darken($ice, 2%);

        &:hover {
          color: $ice;
        }
      }

      a:hover .release {
        background-color: $ice;
        color: rgba($black-ops, .75);
      }

      #toggler {
        color: $black-ops;
        background-color: $ice;
      }
    }
  
    .navbar-right {
      display: flex;
      justify-content: flex-end;
  
      .toggler-mode {
        flex-shrink: 0;
  
        #toggler {
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin: 21px 28px !important;
          transition: color 150ms linear, background-color 150ms linear, content 50ms linear;

          &:hover {
            cursor: pointer;
          }
        }
      }
    
      @import "searchbar";
    }
  }
} 