section.side-menu {
  @extend .col-12;
  @extend .col-md-3;
  @extend .float-md-right;
  @extend .float-none;

  .btn-link {
    
    body.dark-mode & {
      color: $ice;
      &:hover {
        color: darken($ice, 10%);
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  .doc-nav {
    padding: 24px 0 0;
    .fas {
      margin-right: 8px;

      &:hover {
        cursor: pointer;
      }
    }

    li {
      padding: 0;
      font-size: 14px;

      &.active-parent {
        ul {
          display: block;
        }
      }

      .active {
        color: $ice !important;
        background-color: $twitch-purple !important;

        a, a:hover {
          color: $ice !important;
        }
      }

      ul {
        display: none;

        li {
          a {
            padding-left: 24px;
            margin: 0 10px;
            font-size: 12px;
          }
        }
      }
    }
  }

  #TableOfContents {
    margin: 10px 0;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    a {
      @extend .btn;
      @extend .btn-block;
      font-size: 14px;
      color: $black-ops;
      text-align: left;

      body.dark-mode & {
        color: $ice;
      }

      &:hover {
        @extend .btn-twitch-purple;
        background-color: $twitch-purple;
      }
    }
  }
}

header {
  nav.navbar {
    display: flex;
    min-height: 64px;
    max-height: 100%;
    padding-top: 1rem;
  
    .navbar-toggler {
      text-align: right;
    }
  
    .fab,
    .fas {
      font-size: 14px;
    }
  
    a.nav-link {
  
      .fab,
      .fas {
        font-size: 18px;
        display: none;
      }
  
      @include media-breakpoint-up(md) {
        .fab,
        .fas {
          display: inline;
        }
      }
    }
  
    a.navbar-brand img {
      width: 56px;
      height: 56px;
  
      body.dark-mode & {
        background: theme-color("ice");
        border-radius: 100%;
      }
    }
  
    .release {
      @extend .badge;
      transition: none;
    }
  
    &.navbar-light {
  
      .release {
        @extend .badge-twitch-purple;
      }

      a:hover .release {
        @extend .badge-black-ops;
      }
  
      #toggler {
        color: $ice;
        background-color: $twitch-purple;
      }
    }
  
    &.navbar-dark {
      .release {
        @extend .badge-ice;
        color: $black-ops;
      }

      a:hover .release {
        background-color: rgba(#FFFFFF, .75);
        color: rgba($black-ops, .75);
      }

      #toggler {
        color: $black-ops;
        background-color: $ice;
      }
    }
  
    .navbar-right {
      display: flex;
      justify-content: flex-end;
  
      .toggler-mode {
        flex-shrink: 0;
  
        #toggler {
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin: 21px 28px !important;
      
          &:hover {
            cursor: pointer;
          }
        }
      }
    
      @import "searchbar";
    }
  }
} 