$black-ops: #000000;
$twitch-purple: #9146FF;
$ice: #F0F0FF;
$jiggle: #FAB4FF;
$worm: #FACDCD;
$isabelle: #FEEE85;
$droid: #BEFAE1;
$wipe-out: #00C8AF;
$smoke: #D2D2E6;
$widow: #BFABFF;
$peach: #FC6675;
$pac-man: #FFCA5F;
$felicia: #57BEE6;
$sonic: #0014A5;
$dragon: #8205B4;
$cuddle: #FA1ED2;
$bandit: #FF6905;
$lightning: #FAFA19;
$ko: #BEFF00;
$mega: #00FAFA;
$nights: #41145F;
$osu: #BE0078;
$sniper: #FA2828;
$egg: #00FA05;
$legend: #69FFC3;
$zero: #1E69FF;

$theme-colors: (
  "black-ops": $black-ops,
  "twitch-purple": $twitch-purple,

  "ice": $ice,
  "jiggle": $jiggle,
  "worm": $worm,
  "isabelle": $isabelle,
  "droid": $droid,
  "wipe-out": $wipe-out,
  "smoke": $smoke,
  "widow": $widow,
  "peach": $peach,
  "pac-man": $pac-man,
  "felicia": $felicia,
  "sonic": $sonic,
  "dragon": $dragon,
  "cuddle": $cuddle,
  "bandit": $bandit,
  "lightning": $lightning,
  "ko": $ko,
  "mega": $mega,
  "nights": $nights,
  "osu": $osu,
  "sniper": $sniper,
  "egg": $egg,
  "legend": $legend,
  "zero": $zero
);

$navbar-light-color: $twitch-purple;
$navbar-dark-color: $ice;
$body-bg: $ice;
$body-color: $black-ops;
$link-color: $twitch-purple;
$breadcrumb-divider: quote(">");
