{{- $type := .Get "type" | lower -}}
{{- $color := .Get "color" | lower -}}
{{- $size := .Get "size" | lower -}}
{{- $outline := .Get "outline" | lower | eq "true" -}}
{{- $disabled := .Get "disabled" | lower | eq "true" -}}
{{- if or (eq $type "link") (not $type) -}}
{{- $href := .Get "href" -}}
<a class="btn{{if $color}} btn{{if $outline}}-outline{{end}}-{{$color}}{{end}}{{if $size}} btn-{{$size}}{{end}}{{if $disabled}} disabled{{end}}" href="{{$href}}">
  {{.Inner}}
</a>
{{- else if eq $type "button" -}}
{{- $button := .Get "btn_type" -}}
<button class="btn{{if $color}} btn{{if $outline}}-outline{{end}}-{{$color}}{{end}}{{if $size}} btn-{{$size}}{{end}}{{if $disabled}} disabled{{end}}" type="{{$button}}">
  {{.Inner}}
</button>
{{- else if eq $type "input" -}}
{{- $input := .Get "input" -}}
<input class="btn{{if $color}} btn{{if $outline}}-outline{{end}}-{{$color}}{{end}}{{if $size}} btn-{{$size}}{{end}}{{if $disabled}} disabled{{end}}" type="{{$input}}" value="{{.Inner}}">
{{- end -}}